.nav-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
    width: 100%;
    background-color: rgb(0, 0, 0);
    text-decoration: white;
}

.nav-bar-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.h1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
    width: 100%;
    background-color: rgb(0, 0, 0);
    text-decoration: white;
}